<%- include('./partials/head') %>

<article>
    <div class="animated-box in">

      <div class="food">

        <h1><strong>Food</strong></h1>
        <nav class="nav">
          <a href="/" class="myButton"><strong>BACK</strong></a>
          <a href="info" class="myButton"><strong>PREVIOUS</strong></a>
          <a href="food" class="myButton"><strong>NEXT</strong></a>
        </nav>
      </div>
    </div>
  </article>

<%- include('./partials/foot') %>